github "jdg/MBProgressHUD"
github "SwiftyJSON/SwiftyJSON"
github "realm/realm-cocoa"
github "Alamofire/Alamofire"
github "Alamofire/AlamofireImage"
github "trongdth/OAuth1-for-iOS" "master"
github "trongdth/OAuth2-for-iOS" "master"
github "trongdth/AutonomousUtil" "develop"
github "trongdth/AutonomousCommon" "develop"
github "trongdth/AutonomousCore" "develop"
github "trongdth/AutonomousBL" "develop"
github "trongdth/AutonomousView" "develop"
